html, body {
    height: 100%;
    background: #fff;
}
button.active{
    background: #fff;
    color: #009688;
}
button.active:hover{
    color: #fff;
}
.fill{
    flex: 1 1 auto;
}
.app-state{
    margin: 15px;
    flex: 1;
}
.home{
    flex: 1;
}
app {
    height: 100%;
    display: block;
}
.content-container {
    height: 100%;
}
md-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
md-content > md {
    height: 100%;
}
footer{
    flex: 0 0 30px;
    font-size: 14px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-top: 1px solid #ccc;
}


.question-answers-container {
    padding: 20px;
}
.question-answers-container .question-answer-option {
    margin-bottom: 5px;
    clear: both;
}


.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

